mux_sequences:
  test_sequence:
    enabled: true
    inputs:
    - {max_duration_s: 15.0, max_frame_count: 50, min_duration_s: 5.0, min_frame_count: 5,
      topic: /nepi/s2x_prototype/econ_routecam/idx/color_2d_image}
    - {max_duration_s: 15.0, max_frame_count: 50, min_duration_s: 5.0, min_frame_count: 5,
      topic: /nepi/s2x_prototype/onwote_hd_poe/idx/color_2d_image}
    - {max_duration_s: 15.0, max_frame_count: 50, min_duration_s: 5.0, min_frame_count: 5,
      topic: /nepi/s2x_prototype/sidus_ss400/idx/color_2d_image}
    output_img_height_pixels: 416
    output_img_width_pixels: 416
    output_topic: /nepi/s2x_prototype/roundrobin_ai_img
