[Unit]
Description=Numurus ROS Launch
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/numurus/ros/etc/roslaunch.sh
Restart=always

[Install]
WantedBy=multi-user.target
